{% extends "../../base.html" %}

{% block content %}
<h2>Статьи</h2>
<div class="content">
  <div class="components">
    <div class="search">
      <form  action="" method="get" class="input-group">
        <input type="text" name="q" class="form-control rounded" placeholder="Введите название статьи или ключевые слова" aria-label="Search"
          aria-describedby="search-addon" />
        <button type="submit" class="btn btn-success">Найти</button>
      </form>
    </div>
    <div class="filters">
      <button name="sort_by_letters" type="button" class="btn btn-success">По алфавиту</button>
      <button name="sort_by_date" type="button" class="btn btn-success">По новизне</button>
    </div>
  </div>

    {% for post in posts %}
        <div class="article scale">
            <a href="{{ post.get_absolute_url }}"><h4>{{ post.title }}</h4></a>
            <small>Опубликовано {{ post.publish }} года пользователем {{ post.author }}</small>
            {% autoescape off %}
            <p>{{ post.body|truncatewords:30|linebreaks }}</p>
{#            <small>Комментариев: 0</small>#}
            {% endautoescape %}

        </div>
    {% endfor %}

    {% include "../../includes/pagination.html" with page=page_obj %}
</div>
{% endblock %}